# World Happiness Data Cleaning and Consistency Checks

#### Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os

In [36]:
WH2015 = pd.read_csv(r'/Users/jonahsnewmacbook/Desktop/Data Analytics/Data Immersion/Achievement 6/World Happiness/World Happines CSVs/2015.csv', index_col = False)

In [3]:
path = r'/Users/jonahsnewmacbook/Desktop/Data Analytics/Data Immersion/Achievement 6/World Happiness'

In [4]:
WH2015.head(10)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
5,Finland,Western Europe,6,7.406,0.03140,1.29025,1.31826,0.88911,0.64169,0.41372,0.23351,2.61955
6,Netherlands,Western Europe,7,7.378,0.02799,1.32944,1.28017,0.89284,0.61576,0.31814,0.47610,2.46570
7,Sweden,Western Europe,8,7.364,0.03157,1.33171,1.28907,0.91087,0.65980,0.43844,0.36262,2.37119
8,New Zealand,Australia and New Zealand,9,7.286,0.03371,1.25018,1.31967,0.90837,0.63938,0.42922,0.47501,2.26425
9,Australia,Australia and New Zealand,10,7.284,0.04083,1.33358,1.30923,0.93156,0.65124,0.35637,0.43562,2.26646

In [5]:
WH2015.describe()

,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
count,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000
mean,79.493671,5.375734,0.047885,0.846137,0.991046,0.630259,0.428615,0.143422,0.237296,2.098977
std,45.754363,1.145010,0.017146,0.403121,0.272369,0.247078,0.150693,0.120034,0.126685,0.553550
min,1.000000,2.839000,0.018480,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.328580
25%,40.250000,4.526000,0.037268,0.545808,0.856823,0.439185,0.328330,0.061675,0.150553,1.759410
50%,79.500000,5.232500,0.043940,0.910245,1.029510,0.696705,0.435515,0.107220,0.216130,2.095415
75%,118.750000,6.243750,0.052300,1.158448,1.214405,0.811013,0.549092,0.180255,0.309883,2.462415
max,158.000000,7.587000,0.136930,1.690420,1.402230,1.025250,0.669730,0.551910,0.795880,3.602140

In [7]:
#Finding Missing Values
WH2015.isnull().sum()

Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Standard Error                   0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
dtype: int64

In [8]:
#Finding Duplicates
WH2015_dups = WH2015[WH2015.duplicated()]

In [9]:
WH2015_dups

Empty DataFrame
Columns: [Country, Region, Happiness Rank, Happiness Score, Standard Error, Economy (GDP per Capita), Family, Health (Life Expectancy), Freedom, Trust (Government Corruption), Generosity, Dystopia Residual]
Index: []

In [10]:
#no duplicated rows

In [120]:
#Adding a Year Column
WH2015['Year'] = '2015'

In [121]:
WH2015.head()

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015

In [113]:
#Drop 'Region', and 'Standard Error'
WH2015 = WH2015.drop('Region', axis=1)
WH2015 = WH2015.drop('Standard Error', axis=1)

### Cleaning 2016 Data

In [13]:
WH2016 = pd.read_csv(r'/Users/jonahsnewmacbook/Desktop/Data Analytics/Data Immersion/Achievement 6/World Happiness/World Happines CSVs/2016.csv', index_col = False)

In [14]:
WH2016.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [15]:
WH2016.describe()

,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
count,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000
mean,78.980892,5.382185,5.282395,5.481975,0.953880,0.793621,0.557619,0.370994,0.137624,0.242635,2.325807
std,45.466030,1.141674,1.148043,1.136493,0.412595,0.266706,0.229349,0.145507,0.111038,0.133756,0.542220
min,1.000000,2.905000,2.732000,3.078000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.817890
25%,40.000000,4.404000,4.327000,4.465000,0.670240,0.641840,0.382910,0.257480,0.061260,0.154570,2.031710
50%,79.000000,5.314000,5.237000,5.419000,1.027800,0.841420,0.596590,0.397470,0.105470,0.222450,2.290740
75%,118.000000,6.269000,6.154000,6.434000,1.279640,1.021520,0.729930,0.484530,0.175540,0.311850,2.664650
max,157.000000,7.526000,7.460000,7.669000,1.824270,1.183260,0.952770,0.608480,0.505210,0.819710,3.837720

#### This is showing that there is one missing country. Since analysis will be based on 'Region', no need to address the missing country.

In [17]:
#Finding Duplicates
WH2016_dups = WH2016[WH2016.duplicated()]

In [18]:
WH2016_dups

Empty DataFrame
Columns: [Country, Region, Happiness Rank, Happiness Score, Lower Confidence Interval, Upper Confidence Interval, Economy (GDP per Capita), Family, Health (Life Expectancy), Freedom, Trust (Government Corruption), Generosity, Dystopia Residual]
Index: []

In [19]:
#no duplicates

In [20]:
#Finding Missing Values
WH2016.isnull().sum()

Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Lower Confidence Interval        0
Upper Confidence Interval        0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
dtype: int64

In [21]:
#Adding a Year Column
WH2016['Year'] = '2016'

In [22]:
WH2016.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939,2016
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463,2016
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137,2016
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465,2016
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596,2016

In [27]:
#List of the regions
list(set(list(WH2016['Region'])))

['Middle East and Northern Africa',
 'Western Europe',
 'North America',
 'Eastern Asia',
 'Sub-Saharan Africa',
 'Latin America and Caribbean',
 'Southeastern Asia',
 'Central and Eastern Europe',
 'Australia and New Zealand',
 'Southern Asia']

#### For 2016 Dataframe, there are 10 regions

In [28]:
#List of regions for 2015 Dataframe
list(set(list(WH2015['Region'])))

['Middle East and Northern Africa',
 'Western Europe',
 'North America',
 'Eastern Asia',
 'Sub-Saharan Africa',
 'Latin America and Caribbean',
 'Southeastern Asia',
 'Central and Eastern Europe',
 'Australia and New Zealand',
 'Southern Asia']

In [32]:
#Checking values per region
WH2015['Region'].value_counts(dropna=False)

Region
Sub-Saharan Africa                 40
Central and Eastern Europe         29
Latin America and Caribbean        22
Western Europe                     21
Middle East and Northern Africa    20
Southeastern Asia                   9
Southern Asia                       7
Eastern Asia                        6
North America                       2
Australia and New Zealand           2
Name: count, dtype: int64

In [33]:
WH2016['Region'].value_counts(dropna=False)

Region
Sub-Saharan Africa                 38
Central and Eastern Europe         29
Latin America and Caribbean        24
Western Europe                     21
Middle East and Northern Africa    19
Southeastern Asia                   9
Southern Asia                       7
Eastern Asia                        6
North America                       2
Australia and New Zealand           2
Name: count, dtype: int64

#### Both dataframe has 10 regions

In [114]:
#dropping 'Lower Confidence Interval' and 'Upper Confidence Interval' and 'Region'
WH2016 = WH2016.drop('Lower Confidence Interval', axis=1)
WH2016 = WH2016.drop('Upper Confidence Interval', axis=1)
WH2016 = WH2016.drop('Region', axis=1)

### Cleaning 2017 Data

In [38]:
WH2017 = pd.read_csv(r'/Users/jonahsnewmacbook/Desktop/Data Analytics/Data Immersion/Achievement 6/World Happiness/World Happines CSVs/2017.csv', index_col = False)

In [39]:
WH2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        155 non-null    object
 1   Happiness.Rank                 155 non-null    int64
 2   Happiness.Score                155 non-null    float64
 3   Whisker.high                   155 non-null    float64
 4   Whisker.low                    155 non-null    float64
 5   Economy..GDP.per.Capita.       155 non-null    float64
 6   Family                         155 non-null    float64
 7   Health..Life.Expectancy.       155 non-null    float64
 8   Freedom                        155 non-null    float64
 9   Generosity                     155 non-null    float64
 10  Trust..Government.Corruption.  155 non-null    float64
 11  Dystopia.Residual              155 non-null    float64
dtypes: float64(10), int64(1), object(1)
memory usage: 14.7+ KB

#### Need to rename columns and drop columns

In [43]:
WH2017.rename(columns = {'Happiness.Rank' : 'Happiness Rank', 'Happiness.Score':'Happiness Score', 'Economy..GDP.per.Capita.':'Economy (GDP per Capita)', 'Health..Life.Expectancy.':'Health (Life Expectancy)', 'Trust..Government.Corruption.':'Trust (Government Corruption)', 'Dystopia.Residual':'Dystopia Residual'}, inplace = True)

In [44]:
WH2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        155 non-null    object
 1   Happiness Rank                 155 non-null    int64
 2   Happiness Score                155 non-null    float64
 3   Whisker.high                   155 non-null    float64
 4   Whisker.low                    155 non-null    float64
 5   Economy (GDP per Capita)       155 non-null    float64
 6   Family                         155 non-null    float64
 7   Health (Life Expectancy)       155 non-null    float64
 8   Freedom                        155 non-null    float64
 9   Generosity                     155 non-null    float64
 10  Trust (Government Corruption)  155 non-null    float64
 11  Dystopia Residual              155 non-null    float64
dtypes: float64(10), int64(1), object(1)
memory usage: 14.7+ KB

In [45]:
#dropping whisker
WH2017 = WH2017.drop('Whisker.high', axis=1)

In [46]:
WH2017 = WH2017.drop('Whisker.low', axis=1)

In [47]:
WH2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        155 non-null    object
 1   Happiness Rank                 155 non-null    int64
 2   Happiness Score                155 non-null    float64
 3   Economy (GDP per Capita)       155 non-null    float64
 4   Family                         155 non-null    float64
 5   Health (Life Expectancy)       155 non-null    float64
 6   Freedom                        155 non-null    float64
 7   Generosity                     155 non-null    float64
 8   Trust (Government Corruption)  155 non-null    float64
 9   Dystopia Residual              155 non-null    float64
dtypes: float64(8), int64(1), object(1)
memory usage: 12.2+ KB

In [48]:
WH2017.describe()

,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption),Dystopia Residual
count,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000
mean,78.000000,5.354019,0.984718,1.188898,0.551341,0.408786,0.246883,0.123120,1.850238
std,44.888751,1.131230,0.420793,0.287263,0.237073,0.149997,0.134780,0.101661,0.500028
min,1.000000,2.693000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.377914
25%,39.500000,4.505500,0.663371,1.042635,0.369866,0.303677,0.154106,0.057271,1.591291
50%,78.000000,5.279000,1.064578,1.253918,0.606042,0.437454,0.231538,0.089848,1.832910
75%,116.500000,6.101500,1.318027,1.414316,0.723008,0.516561,0.323762,0.153296,2.144654
max,155.000000,7.537000,1.870766,1.610574,0.949492,0.658249,0.838075,0.464308,3.117485

In [49]:
#Finding Missing Values
WH2017.isnull().sum()

Country                          0
Happiness Rank                   0
Happiness Score                  0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Generosity                       0
Trust (Government Corruption)    0
Dystopia Residual                0
dtype: int64

In [50]:
#Finding Duplicates
WH2017_dups = WH2017[WH2017.duplicated()]

In [51]:
WH2017_dups

Empty DataFrame
Columns: [Country, Happiness Rank, Happiness Score, Economy (GDP per Capita), Family, Health (Life Expectancy), Freedom, Generosity, Trust (Government Corruption), Dystopia Residual]
Index: []

In [52]:
#Adding a Year Column
WH2017['Year'] = '2017'

In [53]:
WH2017.head(1)

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption),Dystopia Residual,Year
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,2017

In [54]:
WH2018 = pd.read_csv(r'/Users/jonahsnewmacbook/Desktop/Data Analytics/Data Immersion/Achievement 6/World Happiness/World Happines CSVs/2018.csv', index_col = False)

In [55]:
WH2018.describe()

,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,155.000000
mean,78.500000,5.375917,0.891449,1.213237,0.597346,0.454506,0.181006,0.112000
std,45.177428,1.119506,0.391921,0.302372,0.247579,0.162424,0.098471,0.096492
min,1.000000,2.905000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39.750000,4.453750,0.616250,1.066750,0.422250,0.356000,0.109500,0.051000
50%,78.500000,5.378000,0.949500,1.255000,0.644000,0.487000,0.174000,0.082000
75%,117.250000,6.168500,1.197750,1.463000,0.777250,0.578500,0.239000,0.137000
max,156.000000,7.632000,2.096000,1.644000,1.030000,0.724000,0.598000,0.457000

### Just noticed that 2017 and 2018 do not have a Region column. Region category will based it off on 2015 categorizing

#### 1. Adding 'Region' to 2017 dataframe

In [61]:
# Adding 'Australia and New Zealand'
WH2017.loc[(WH2017['Country'] == 'Australia') & (WH2017['Country'] =='New Zealand'),'Region'] ='Australia and New Zealand'

In [62]:
WH2017.head()

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption),Dystopia Residual,Year,Region
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,2017,nan
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,2017,nan
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715,2017,nan
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716,2017,nan
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,2017,nan

In [67]:
#now that it works, add the other region, then check for nan
WH2017.loc[(WH2017['Country'] == 'Czech Republic'),'Region'] ='Central and Eastern Europe'

In [75]:
WH2017.head()

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption),Dystopia Residual,Year,Region
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,2017,nan
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,2017,nan
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715,2017,nan
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716,2017,nan
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,2017,nan

In [76]:
#dropping 'Region' for now
WH2017 = WH2017.drop('Region', axis=1)

In [79]:
WH2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        155 non-null    object
 1   Happiness Rank                 155 non-null    int64
 2   Happiness Score                155 non-null    float64
 3   Economy (GDP per Capita)       155 non-null    float64
 4   Family                         155 non-null    float64
 5   Health (Life Expectancy)       155 non-null    float64
 6   Freedom                        155 non-null    float64
 7   Generosity                     155 non-null    float64
 8   Trust (Government Corruption)  155 non-null    float64
 9   Dystopia Residual              155 non-null    float64
 10  Year                           155 non-null    object
dtypes: float64(8), int64(1), object(2)
memory usage: 13.4+ KB

### ** So I will add 'Year' to each dataframe, then combine all of them. From there that's when I'll add region per country. **

In [82]:
WH2018 = pd.read_csv(r'/Users/jonahsnewmacbook/Desktop/Data Analytics/Data Immersion/Achievement 6/World Happiness/World Happines CSVs/2018.csv', index_col = False)

#### Cleaning 2018 Data

In [84]:
WH2018.describe()

,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption)
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,155.000000
mean,78.500000,5.375917,0.891449,1.213237,0.597346,0.454506,0.181006,0.112000
std,45.177428,1.119506,0.391921,0.302372,0.247579,0.162424,0.098471,0.096492
min,1.000000,2.905000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39.750000,4.453750,0.616250,1.066750,0.422250,0.356000,0.109500,0.051000
50%,78.500000,5.378000,0.949500,1.255000,0.644000,0.487000,0.174000,0.082000
75%,117.250000,6.168500,1.197750,1.463000,0.777250,0.578500,0.239000,0.137000
max,156.000000,7.632000,2.096000,1.644000,1.030000,0.724000,0.598000,0.457000

In [87]:
WH2018.isnull().sum()

Country                          0
Happiness Rank                   0
Happiness Score                  0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Generosity                       0
Trust (Government Corruption)    1
dtype: int64

In [88]:
#nulls will be left on for now. There might be more nulls once I merge the cells together

In [89]:
#Finding Duplicates
WH2018_dups = WH2018[WH2018.duplicated()]

In [90]:
WH2018_dups

Empty DataFrame
Columns: [Country, Happiness Rank, Happiness Score, Economy (GDP per Capita), Family, Health (Life Expectancy), Freedom, Generosity, Trust (Government Corruption)]
Index: []

In [91]:
#no duplicates

In [92]:
#Adding a Year Column
WH2018['Year'] = '2018'

In [93]:
WH2018.head()

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption),Year
0,Finland,1,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
1,Norway,2,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018
2,Denmark,3,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018
3,Iceland,4,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018
4,Switzerland,5,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018

### Cleaning 2019 dataframe

In [95]:
WH2019 = pd.read_csv(r'/Users/jonahsnewmacbook/Desktop/Data Analytics/Data Immersion/Achievement 6/World Happiness/World Happines CSVs/2019.csv', index_col = False)

In [96]:
WH2019.head()

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
0,Finland,1,7.769,1.340,1.587,0.986,0.596,0.393,0.153
1,Denmark,2,7.600,1.383,1.573,0.996,0.592,0.410,0.252
2,Norway,3,7.554,1.488,1.582,1.028,0.603,0.341,0.271
3,Iceland,4,7.494,1.380,1.624,1.026,0.591,0.118,0.354
4,Netherlands,5,7.488,1.396,1.522,0.999,0.557,0.298,0.322

In [97]:
#Finding Missing Values
WH2019.isnull().sum()

Country                          0
Happiness Rank                   0
Happiness Score                  0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
dtype: int64

In [98]:
#Finding Duplicates
WH2019_dups = WH2019[WH2019.duplicated()]

In [99]:
WH2019_dups

Empty DataFrame
Columns: [Country, Happiness Rank, Happiness Score, Economy (GDP per Capita), Family, Health (Life Expectancy), Freedom, Trust (Government Corruption), Generosity]
Index: []

In [100]:
#no duplicates

In [103]:
#Adding a Year Column
WH2019['Year'] = '2019'

In [104]:
WH2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        156 non-null    object
 1   Happiness Rank                 156 non-null    int64
 2   Happiness Score                156 non-null    float64
 3   Economy (GDP per Capita)       156 non-null    float64
 4   Family                         156 non-null    float64
 5   Health (Life Expectancy)       156 non-null    float64
 6   Freedom                        156 non-null    float64
 7   Trust (Government Corruption)  156 non-null    float64
 8   Generosity                     156 non-null    float64
 9   Year                           156 non-null    object
dtypes: float64(7), int64(1), object(2)
memory usage: 12.3+ KB

### I do have happiness data score for the years 2021 to 2023 however it is not showing the 6 factor scores. I will use the data later

In [115]:
WH2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        158 non-null    object
 1   Happiness Rank                 158 non-null    int64
 2   Happiness Score                158 non-null    float64
 3   Economy (GDP per Capita)       158 non-null    float64
 4   Family                         158 non-null    float64
 5   Health (Life Expectancy)       158 non-null    float64
 6   Freedom                        158 non-null    float64
 7   Trust (Government Corruption)  158 non-null    float64
 8   Generosity                     158 non-null    float64
 9   Dystopia Residual              158 non-null    float64
dtypes: float64(8), int64(1), object(1)
memory usage: 12.5+ KB

In [122]:
#Lets try concat()
WH1516 = [WH2015, WH2016]

In [123]:
WH1516concat = pd.concat(WH1516)

In [124]:
WH1516concat

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015
...,...,...,...,...,...,...,...,...,...,...,...
152,Benin,153,3.484,0.39499,0.10419,0.21028,0.39747,0.06681,0.20180,2.10812,2016
153,Afghanistan,154,3.360,0.38227,0.11037,0.17344,0.16430,0.07112,0.31268,2.14558,2016
154,Togo,155,3.303,0.28123,0.00000,0.24811,0.34678,0.11587,0.17517,2.13540,2016
155,Syria,156,3.069,0.74719,0.14866,0.62994,0.06912,0.17233,0.48397,0.81789,2016
156,Burundi,157,2.905,0.06831,0.23442,0.15747,0.04320,0.09419,0.20290,2.10404,2016

In [125]:
WH171819 = [WH2017, WH2018, WH2019]

In [126]:
WH171819concat = pd.concat(WH171819)

In [127]:
WH171819concat

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption),Dystopia Residual,Year
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,2017
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,2017
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715,2017
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716,2017
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,2017
...,...,...,...,...,...,...,...,...,...,...,...
151,Rwanda,152,3.334,0.359000,0.711000,0.614000,0.555000,0.217000,0.411000,NaN,2019
152,Tanzania,153,3.231,0.476000,0.885000,0.499000,0.417000,0.276000,0.147000,NaN,2019
153,Afghanistan,154,3.203,0.350000,0.517000,0.361000,0.000000,0.158000,0.025000,NaN,2019
154,Central African Republic,155,3.083,0.026000,0.000000,0.105000,0.225000,0.235000,0.035000,NaN,2019
155,South Sudan,156,2.853,0.306000,0.575000,0.295000,0.010000,0.202000,0.091000,NaN,2019

In [128]:
WH_15to19concat = [WH1516concat, WH171819concat]

In [129]:
WH_15to19 = pd.concat(WH_15to19concat)

In [130]:
WH_15to19

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015
...,...,...,...,...,...,...,...,...,...,...,...
151,Rwanda,152,3.334,0.35900,0.71100,0.61400,0.55500,0.41100,0.21700,NaN,2019
152,Tanzania,153,3.231,0.47600,0.88500,0.49900,0.41700,0.14700,0.27600,NaN,2019
153,Afghanistan,154,3.203,0.35000,0.51700,0.36100,0.00000,0.02500,0.15800,NaN,2019
154,Central African Republic,155,3.083,0.02600,0.00000,0.10500,0.22500,0.03500,0.23500,NaN,2019
155,South Sudan,156,2.853,0.30600,0.57500,0.29500,0.01000,0.09100,0.20200,NaN,2019

### Create a Region Flag

In [190]:
#Creating 'Australia and New Zealand'
WH_15to19.loc[(WH_15to19['Country'] == 'Australia'), 'Region'] ='Australia and New Zealand'
WH_15to19.loc[(WH_15to19['Country'] == 'New Zealand'), 'Region'] = 'Australia and New Zealand'

In [191]:
WH_15to19.head(1)

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year,Region
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015,Western Europe

In [192]:
#Creating 'Central and Eastern Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'Albania'), 'Region'] = 'Central and Eastern Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'Armenia'), 'Region'] = 'Central and Eastern Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'Azerbaijan'), 'Region'] = 'Central and Eastern Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'Belarus'), 'Region'] = 'Central and Eastern Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'Bosnia and Herzegovina'), 'Region'] = 'Central and Eastern Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'Bulgaria'), 'Region'] = 'Central and Eastern Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'Croatia'), 'Region'] = 'Central and Eastern Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'Czech Republic'), 'Region']= 'Central and Eastern Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'Estonia'), 'Region']= 'Central and Eastern Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'Georgia'), 'Region']= 'Central and Eastern Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'Hungary'), 'Region']= 'Central and Eastern Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'Kazakhstan'), 'Region']= 'Central and Eastern Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'Kosovo'), 'Region']= 'Central and Eastern Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'Kyrgyzstan'), 'Region']= 'Central and Eastern Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'Latvia'), 'Region']= 'Central and Eastern Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'Lithuania'), 'Region']= 'Central and Eastern Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'Macedonia'), 'Region']= 'Central and Eastern Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'Moldova'), 'Region']= 'Central and Eastern Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'Montenegro'), 'Region']= 'Central and Eastern Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'North Macedonia'), 'Region']= 'Central and Eastern Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'Poland'), 'Region']= 'Central and Eastern Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'Romania'), 'Region']= 'Central and Eastern Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'Russia'), 'Region']= 'Central and Eastern Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'Serbia'), 'Region']= 'Central and Eastern Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'Slovakia'), 'Region']= 'Central and Eastern Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'Slovenia'), 'Region']= 'Central and Eastern Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'Tajikistan'), 'Region']= 'Central and Eastern Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'Turkmenistan'), 'Region']= 'Central and Eastern Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'Ukraine'), 'Region']= 'Central and Eastern Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'Uzbekistan'), 'Region'] = 'Central and Eastern Europe'

In [193]:
#Creating 'Eastern Asia'
WH_15to19.loc[(WH_15to19['Country'] == 'China'), 'Region'] = 'Eastern Asia'
WH_15to19.loc[(WH_15to19['Country'] == 'Hong Kong'), 'Region'] = 'Eastern Asia'
WH_15to19.loc[(WH_15to19['Country'] == 'Hong Kong S.A.R., China'), 'Region'] = 'Eastern Asia'
WH_15to19.loc[(WH_15to19['Country'] == 'Japan'), 'Region'] = 'Eastern Asia'
WH_15to19.loc[(WH_15to19['Country'] == 'Mongolia'), 'Region'] = 'Eastern Asia'
WH_15to19.loc[(WH_15to19['Country'] == 'South Korea'), 'Region'] = 'Eastern Asia'
WH_15to19.loc[(WH_15to19['Country'] == 'Taiwan Province of China'), 'Region'] = 'Eastern Asia'
WH_15to19.loc[(WH_15to19['Country'] == 'Taiwan'), 'Region'] = 'Eastern Asia'

In [194]:
#Creating 'Latin America and Caribbean'
WH_15to19.loc[(WH_15to19['Country'] == 'Argentina'), 'Region'] = 'Latin America and Caribbean'
WH_15to19.loc[(WH_15to19['Country'] == 'Belize'), 'Region'] = 'Latin America and Caribbean'
WH_15to19.loc[(WH_15to19['Country'] == 'Bolivia'), 'Region'] = 'Latin America and Caribbean'
WH_15to19.loc[(WH_15to19['Country'] == 'Brazil'), 'Region'] = 'Latin America and Caribbean'
WH_15to19.loc[(WH_15to19['Country'] == 'Chile'), 'Region'] = 'Latin America and Caribbean'
WH_15to19.loc[(WH_15to19['Country'] == 'Colombia'), 'Region'] = 'Latin America and Caribbean'
WH_15to19.loc[(WH_15to19['Country'] == 'Costa Rica'), 'Region'] = 'Latin America and Caribbean'
WH_15to19.loc[(WH_15to19['Country'] == 'Dominican Republic'), 'Region'] = 'Latin America and Caribbean'
WH_15to19.loc[(WH_15to19['Country'] == 'Ecuador'), 'Region'] = 'Latin America and Caribbean'
WH_15to19.loc[(WH_15to19['Country'] == 'El Salvador'), 'Region'] = 'Latin America and Caribbean'
WH_15to19.loc[(WH_15to19['Country'] == 'Guatemala'), 'Region'] = 'Latin America and Caribbean'
WH_15to19.loc[(WH_15to19['Country'] == 'Haiti'), 'Region'] = 'Latin America and Caribbean'
WH_15to19.loc[(WH_15to19['Country'] == 'Honduras'), 'Region'] = 'Latin America and Caribbean'
WH_15to19.loc[(WH_15to19['Country'] == 'Jamaica'), 'Region'] = 'Latin America and Caribbean'
WH_15to19.loc[(WH_15to19['Country'] == 'Mexico'), 'Region'] = 'Latin America and Caribbean'
WH_15to19.loc[(WH_15to19['Country'] == 'Nicaragua'), 'Region'] = 'Latin America and Caribbean'
WH_15to19.loc[(WH_15to19['Country'] == 'Panama'), 'Region'] = 'Latin America and Caribbean'
WH_15to19.loc[(WH_15to19['Country'] == 'Paraguay'), 'Region'] = 'Latin America and Caribbean'
WH_15to19.loc[(WH_15to19['Country'] == 'Peru'), 'Region'] = 'Latin America and Caribbean'
WH_15to19.loc[(WH_15to19['Country'] == 'Puerto Rico'), 'Region'] = 'Latin America and Caribbean'
WH_15to19.loc[(WH_15to19['Country'] == 'Suriname'), 'Region'] = 'Latin America and Caribbean'
WH_15to19.loc[(WH_15to19['Country'] == 'Trinidad and Tobago'), 'Region'] = 'Latin America and Caribbean'
WH_15to19.loc[(WH_15to19['Country'] == 'Trinidad & Tobago'), 'Region'] = 'Latin America and Caribbean'
WH_15to19.loc[(WH_15to19['Country'] == 'Uruguay'), 'Region'] = 'Latin America and Caribbean'
WH_15to19.loc[(WH_15to19['Country'] == 'Venezuela'), 'Region'] = 'Latin America and Caribbean'

In [195]:
# Creating 'Middle East and Northern Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Algeria'), 'Region'] = 'Middle East and Northern Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Bahrain'), 'Region'] = 'Middle East and Northern Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Egypt'), 'Region'] = 'Middle East and Northern Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Iran'), 'Region'] = 'Middle East and Northern Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Iraq'), 'Region'] = 'Middle East and Northern Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Israel'), 'Region'] = 'Middle East and Northern Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Jordan'), 'Region'] = 'Middle East and Northern Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Kuwait'), 'Region'] = 'Middle East and Northern Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Lebanon'), 'Region'] = 'Middle East and Northern Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Libya'), 'Region'] = 'Middle East and Northern Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Morocco'), 'Region'] = 'Middle East and Northern Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Oman'), 'Region'] = 'Middle East and Northern Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Palestinian Territories'), 'Region'] = 'Middle East and Northern Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Qatar'), 'Region'] = 'Middle East and Northern Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Saudi Arabia'), 'Region'] = 'Middle East and Northern Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Syria'), 'Region'] = 'Middle East and Northern Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Tunisia'), 'Region'] = 'Middle East and Northern Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Turkey'), 'Region'] = 'Middle East and Northern Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'United Arab Emirates'), 'Region'] = 'Middle East and Northern Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Yemen'), 'Region'] = 'Middle East and Northern Africa'

In [196]:
#Creating 'North America'
WH_15to19.loc[(WH_15to19['Country'] == 'Canada'), 'Region'] = 'North America'
WH_15to19.loc[(WH_15to19['Country'] == 'United States'), 'Region'] = 'North America'

In [197]:
# Creating 'Southeastern Asia'
WH_15to19.loc[(WH_15to19['Country'] == 'Cambodia'), 'Region'] = 'Southeastern Asia'
WH_15to19.loc[(WH_15to19['Country'] == 'Indonesia'), 'Region'] = 'Southeastern Asia'
WH_15to19.loc[(WH_15to19['Country'] == 'Laos'), 'Region'] = 'Southeastern Asia'
WH_15to19.loc[(WH_15to19['Country'] == 'Malaysia'), 'Region'] = 'Southeastern Asia'
WH_15to19.loc[(WH_15to19['Country'] == 'Myanmar'), 'Region'] = 'Southeastern Asia'
WH_15to19.loc[(WH_15to19['Country'] == 'Philippines'), 'Region'] = 'Southeastern Asia'
WH_15to19.loc[(WH_15to19['Country'] == 'Singapore'), 'Region'] = 'Southeastern Asia'
WH_15to19.loc[(WH_15to19['Country'] == 'Thailand'), 'Region'] = 'Southeastern Asia'
WH_15to19.loc[(WH_15to19['Country'] == 'Vietnam'), 'Region'] = 'Southeastern Asia'

In [198]:
# Creating 'Southern Asia'
WH_15to19.loc[(WH_15to19['Country'] == 'Afghanistan'), 'Region'] = 'Southern Asia'
WH_15to19.loc[(WH_15to19['Country'] == 'Bangladesh'), 'Region'] = 'Southern Asia'
WH_15to19.loc[(WH_15to19['Country'] == 'Bhutan'), 'Region'] = 'Southern Asia'
WH_15to19.loc[(WH_15to19['Country'] == 'India'), 'Region'] = 'Southern Asia'
WH_15to19.loc[(WH_15to19['Country'] == 'Nepal'), 'Region'] = 'Southern Asia'
WH_15to19.loc[(WH_15to19['Country'] == 'Pakistan'), 'Region'] = 'Southern Asia'
WH_15to19.loc[(WH_15to19['Country'] == 'Sri Lanka'), 'Region'] = 'Southern Asia'

In [199]:
#Creating 'Sub-Saharan Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Angola'), 'Region'] = 'Sub-Saharan Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Benin'), 'Region'] = 'Sub-Saharan Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Botswana'), 'Region'] = 'Sub-Saharan Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Burkina Faso'), 'Region'] = 'Sub-Saharan Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Burundi'), 'Region'] = 'Sub-Saharan Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Cameroon'), 'Region'] = 'Sub-Saharan Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Central African Republic'), 'Region'] = 'Sub-Saharan Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Chad'), 'Region'] = 'Sub-Saharan Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Comoros'), 'Region'] = 'Sub-Saharan Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Congo (Brazzaville)'), 'Region'] = 'Sub-Saharan Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Congo (Kinshasa)'), 'Region'] = 'Sub-Saharan Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Djibouti'), 'Region'] = 'Sub-Saharan Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Ethiopia'), 'Region'] = 'Sub-Saharan Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Gabon'), 'Region'] = 'Sub-Saharan Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Gambia'), 'Region'] = 'Sub-Saharan Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Ghana'), 'Region'] = 'Sub-Saharan Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Guinea'), 'Region'] = 'Sub-Saharan Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Ivory Coast'), 'Region'] = 'Sub-Saharan Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Kenya'), 'Region'] = 'Sub-Saharan Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Lesotho'), 'Region'] = 'Sub-Saharan Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Liberia'), 'Region'] = 'Sub-Saharan Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Madagascar'), 'Region'] = 'Sub-Saharan Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Malawi'), 'Region'] = 'Sub-Saharan Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Mali'), 'Region'] = 'Sub-Saharan Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Mauritania'), 'Region'] = 'Sub-Saharan Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Mauritius'), 'Region'] = 'Sub-Saharan Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Mozambique'), 'Region'] = 'Sub-Saharan Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Namibia'), 'Region'] = 'Sub-Saharan Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Nigeria'), 'Region'] = 'Sub-Saharan Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Niger'), 'Region'] = 'Sub-Saharan Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Rwanda'), 'Region'] = 'Sub-Saharan Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Senegal'), 'Region'] = 'Sub-Saharan Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Sierra Leone'), 'Region'] = 'Sub-Saharan Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Somalia'), 'Region'] = 'Sub-Saharan Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Somaliland region'), 'Region'] = 'Sub-Saharan Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Somaliland Region'), 'Region'] = 'Sub-Saharan Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'South Africa'), 'Region'] = 'Sub-Saharan Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'South Sudan'), 'Region'] = 'Sub-Saharan Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Sudan'), 'Region'] = 'Sub-Saharan Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Swaziland'), 'Region'] = 'Sub-Saharan Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Tanzania'), 'Region'] = 'Sub-Saharan Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Togo'), 'Region'] = 'Sub-Saharan Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Uganda'), 'Region'] = 'Sub-Saharan Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Zambia'), 'Region'] = 'Sub-Saharan Africa'
WH_15to19.loc[(WH_15to19['Country'] == 'Zimbabwe'), 'Region'] = 'Sub-Saharan Africa'

In [200]:
# Creating 'Western Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'Austria'), 'Region'] = 'Western Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'Belgium'), 'Region'] = 'Western Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'Cyprus'), 'Region'] = 'Western Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'Denmark'), 'Region'] = 'Western Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'Finland'), 'Region'] = 'Western Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'France'), 'Region'] = 'Western Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'Germany'), 'Region'] = 'Western Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'Greece'), 'Region'] = 'Western Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'Iceland'), 'Region'] = 'Western Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'Ireland'), 'Region'] = 'Western Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'Italy'), 'Region'] = 'Western Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'Luxembourg'), 'Region'] = 'Western Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'Malta'), 'Region'] = 'Western Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'Netherlands'), 'Region'] = 'Western Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'North Cyprus'), 'Region'] = 'Western Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'Northern Cyprus'), 'Region'] = 'Western Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'Norway'), 'Region'] = 'Western Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'Portugal'), 'Region'] = 'Western Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'Spain'), 'Region'] = 'Western Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'Sweden'), 'Region'] = 'Western Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'Switzerland'), 'Region'] = 'Western Europe'
WH_15to19.loc[(WH_15to19['Country'] == 'United Kingdom'), 'Region'] = 'Western Europe'

In [201]:
#finding missing values in WH_15to19
WH_15to19.isnull().sum()

Country                            0
Happiness Rank                     0
Happiness Score                    0
Economy (GDP per Capita)           0
Family                             0
Health (Life Expectancy)           0
Freedom                            0
Trust (Government Corruption)      1
Generosity                         0
Dystopia Residual                312
Year                               0
Region                             0
dtype: int64

In [202]:
WH_15to19.head(10)

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year,Region
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015,Western Europe
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015,Western Europe
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015,Western Europe
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015,Western Europe
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015,North America
5,Finland,6,7.406,1.29025,1.31826,0.88911,0.64169,0.41372,0.23351,2.61955,2015,Western Europe
6,Netherlands,7,7.378,1.32944,1.28017,0.89284,0.61576,0.31814,0.47610,2.46570,2015,Western Europe
7,Sweden,8,7.364,1.33171,1.28907,0.91087,0.65980,0.43844,0.36262,2.37119,2015,Western Europe
8,New Zealand,9,7.286,1.25018,1.31967,0.90837,0.63938,0.42922,0.47501,2.26425,2015,Australia and New Zealand
9,Australia,10,7.284,1.33358,1.30923,0.93156,0.65124,0.35637,0.43562,2.26646,2015,Australia and New Zealand

In [203]:
WH_15to19['Region'].value_counts(dropna=False)

Region
Sub-Saharan Africa                 196
Central and Eastern Europe         145
Latin America and Caribbean        111
Western Europe                     105
Middle East and Northern Africa     96
Southeastern Asia                   44
Southern Asia                       35
Eastern Asia                        30
North America                       10
Australia and New Zealand           10
Name: count, dtype: int64

In [204]:
#exporting this new dataframe
WH_15to19.to_csv(os.path.join(path,'WH_15to19.csv'))